/test.py
/Code/infinite_policy.npy
/Code/infinite_q_table.npy
Code/__pycache__/card.cpython-310.pyc
Code/__pycache__/card.cpython-313.pyc
/Report_/aux_/mainNotes.bib
/Report_/aux_/main.synctex.gz
/Report_/aux_/main.bbl